<div>
    <table class="table table-bordered" border="5">
                <tr>
                    <th style="text-align: center;"> לפני.. (HH:MM)</th>
                    <th style="text-align: center;"> {{tableTitle}}</th>
                    <th style="text-align: center;"> מינון </th>
                    <th style="text-align: center;"> ל"ד</th>
                    <th style="text-align: center;"> דופק</th>
                    <th style="text-align: center;"> חום</th>
                    <th style="text-align: center;"> סטורציה</th>
                </tr>
                <tr ng-repeat="obj in data" style="text-align: center;">
                    <td> {{calcDateDiff(obj.date)}}</td>
                    <td> {{getNameById(obj[fieldName])}}</td>
                    <td> {{obj.dosage}}{{obj.dosageUnit}} </td>
                    <td> {{obj.bloodPressure}} </td>
                    <td> {{obj.heartbeat}} </td>
                    <td> {{obj.temperature}} </td>
                    <td> {{obj.storation}} </td>
                </tr>
    </table>
</div>