<div ng-controller="InjuredController">
    <!-- Page Content -->
    <div class="container">

        <!-- Injured Info Bar -->
        <div class="row headBar component">
            <div class="col-md-4 border-right status">
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-success btnStatus">גמר טיפול</button>
                    </div>
                    <div class="col-md-5">
                        <button type="button" class="btn btn-danger btnStatus" style="width: 65px; margin-right:-20px">פנה</button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-dead btnStatus" style="width: 65px">נפטר</button>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3">
                        <h4>חום:
                            <small ng-class="{'redColor': injured.Measurements.Temperatures[injured.Measurements.Temperatures.length - 1].Temperature < 36 || injured.Measurements.Temperatures[injured.Measurements.Temperatures.length - 1].Temperature > 38.3, 'greenColor': injured.Measurements.Temperatures[injured.Measurements.Temperatures.length - 1].Temperature >= 36 && injured.Measurements.Temperatures[injured.Measurements.Temperatures.length - 1].Temperature <= 38.3}">
                                {{injured.Measurements.Temperatures[injured.Measurements.Temperatures.length - 1].Temperature}}
                            </small>
                        </h4>
                    </div>
                    <div class="col-md-3">
                        <h4>לחץ דם:
                            <small ng-class="{'redColor': injured.Measurements.Bloodpressures[injured.Measurements.Bloodpressures.length-1].Bloodpressure < 90 || injured.Measurements.Bloodpressures[injured.Measurements.Bloodpressures.length-1].Bloodpressure > 140, 'greenColor': injured.Measurements.Bloodpressures[injured.Measurements.Bloodpressures.length-1].Bloodpressure >= 90 && injured.Measurements.Bloodpressures[injured.Measurements.Bloodpressures.length-1].Bloodpressure <=140}">
                                {{injured.Measurements.Bloodpressures[injured.Measurements.Bloodpressures.length-1].Bloodpressure}}
                            </small>
                        </h4>
                    </div>
                    <div class="col-md-6">
                        <h4>מזהה צמיד:
                            <small>{{injured.Bracelet_id}}</small>
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h4>סטורציה:
                            <small ng-class="{'redColor': injured.Measurements.Storations[injured.Measurements.Storations.length-1].Storation <= 92, 'greenColor': injured.Measurements.Storations[injured.Measurements.Storations.length-1].Storation > 92}">
                                {{injured.Measurements.Storations[injured.Measurements.Storations.length-1].Storation}}%
                            </small>
                        </h4>
                    </div>
                    <div class="col-md-3">
                        <h4>דופק:
                            <small ng-class="{'redColor': injured.Measurements.Heartbeat[injured.Measurements.Heartbeat.length-1].Heartbeat >= 105, 'greenColor': injured.Measurements.Heartbeat[injured.Measurements.Heartbeat.length-1].Heartbeat < 105}">
                                {{injured.Measurements.Heartbeat[injured.Measurements.Heartbeat.length-1].Heartbeat}}
                            </small>
                        </h4>
                    </div>
                    <div class="col-md-6">
                        <h4>זמן קליטה:
                            <small>{{injured.Stations[injured.Stations.length -1].ReceptionDate}} {{injured.Stations[injured.Stations.length -1].ReceptionTime}} </small>
                        </h4>
                    </div>

                </div>
            </div>

        </div>

        <!-- Basic info bar -->
        <div class="row component basicInfo">
            <div class="col-md-4">
                <img class="humanImg" src="\med\img\Human-Body.jpeg">
            </div>

            <div class="col-md-8">
                <div class="row dataRow">
                    <div class="col-md-4">
                        <select class="form-control" ng-model="injured.General_Data.Injury_mechanism" ng-options="Injury_mechanism.id as Injury_mechanism.name for Injury_mechanism in InjuryMechanismType" convert-to-number>                            
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label>מנגנון הפציעה</label>
                    </div>
                    <div class="col-md-4">       
                        <div class="btn-group btn-group-sm" data-toggle="buttons">                            
                            <label class="btn btn-default" ng-click='injured.General_Data.Emergency = 0' ng-class="{'active': injured.General_Data.Emergency == 0}"><input type="radio" class="btn btn-default" >לא נקבע</label>
                            <label class="btn btn-default btnNotEmergency" ng-click='injured.General_Data.Emergency = 1' ng-class="{'active': injured.General_Data.Emergency == 1}"><input type="radio" class="btn btn-default">לא דחוף</label>
                            <label class="btn btn-default btnEmergency" ng-click='injured.General_Data.Emergency = 2' ng-class="{'active': injured.General_Data.Emergency == 2}"><input type="radio" class="btn btn-default">דחוף</label>
                        </div>
                    </div>
                    <div  class="col-md-2">
                        <label> דחוף / לא דחוף</label>
                    </div>
                </div>
                <div class="row dataRow">
                    <div class="col-md-4">
                        <div class="btn-group btn-group-sm" data-toggle="buttons">                            
                            <label class="btn btn-default" ng-click="injured.General_Data.Consciousness = 'U'" ng-class="{'active': injured.General_Data.Consciousness == 'U'}"><input type="radio" class="btn btn-default">U</button></label>
                            <label class="btn btn-default" ng-click="injured.General_Data.Consciousness = 'P'" ng-class="{'active': injured.General_Data.Consciousness == 'P'}"><input type="radio" class="btn btn-default">P</button></label>
                            <label class="btn btn-default" ng-click="injured.General_Data.Consciousness = 'V'" ng-class="{'active': injured.General_Data.Consciousness == 'V'}"><input type="radio" class="btn btn-default">V</button></label>
                            <label class="btn btn-default" ng-click="injured.General_Data.Consciousness = 'A'" ng-class="{'active': injured.General_Data.Consciousness == 'A'}"><input type="radio" class="btn btn-default">A</button></label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label>מצב הכרה</label>
                    </div>
                    <div class="col-md-4">                        
                        <toggle type="checkbox" onstyle="btn-success" offstyle="btn-danger" size="btn-sm" on="תקין"
                            off=" לא תקין " ng-model="injured.General_Data.Breathing_hit" ng-change="changed()"></toggle>
                    </div>
                    <div class="col-md-2">
                        <label>פגיעה בנשימה</label>
                    </div>
                </div>
                <div class="row dataRow">
                    <div class="col-md-10">                        
                        <toggle type="checkbox" onstyle="btn-success" offstyle="btn-danger" size="btn-sm" on="תקין"
                            off=" לא תקין " ng-model="injured.General_Data.Airway_hit" ng-change="changed()"></toggle>
                    </div>
                    <div class="col-md-2" style="padding-left: 1px;">
                        <label>פגיעה בנתיב אוויר</label>
                    </div>
                </div>
                <div class="row dataRow">                    
                    <div class="col-md-10">                        
                        <toggle type="checkbox" onstyle="btn-success" offstyle="btn-danger" size="btn-sm" on="תקין"
                            off=" לא תקין " ng-model="injured.General_Data.Shock" ng-change="changed()"></toggle>
                    </div>
                    <div class="col-md-2">
                        <label>הלם</label>
                    </div>
                </div>
                 <div class="row dataRow">
                    <div class="col-md-12">              
                        <label>הערות</label>                            
                        <textarea class="form-control" rows="6"></textarea> 
                    </div>
                </div>
            </div>
        </div>

    </div>

    <a href="#/">מעבר לתמצ</a> 
</div>
