<div class="modal" ng-app="medApp" ng-controller="InjuredController">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <center>
                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><strong>טיפול חדש</strong>
                    </h4>
                </div>
            </center>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <table>
                        <!--הליך שבוצע-->
                        <tr class="form-group">
                            <td>
                                <label for="selectedTreat" class="col-sm-20 control-label">הליך שבוצע</label>
                            </td>
                            <td colspan="3">
                                <div class="col-sm-12" style="padding-top: 10px;">
                                    <select class="form-control" id="selectedTreat" 
                                    ng-model="selectedTreat" ng-options="treatMent.id as treatMent.name for treatMent in allTreatmenrs">                            
                        </select>
                                </div>
                            </td>
                        </tr>
                        <!--מיקום טיפול-->
                        <tr class="form-group">
                            <td>
                                <label for="treatLocation" class="col-sm-20 control-label">מיקום הטיפול</label>
                            </td>
                            <td colspan="3">
                                <div class="col-sm-12" style="padding-top: 10px;">
                                    <input type="text" class="form-control" id="treatLocation" maxlength="10" placeholder="מיקום טיפול" ng-model="treatLocation">
                                </div>
                            </td>
                        </tr>
                        <!--ל"ד-->
                        <tr class="form-group">
                            <td>
                                <label for="lowBloodPressure" class="col-sm-20 control-label">לחץ דם</label>
                            </td>
                            <td>
                                <div class="col-sm-12" style="padding-top: 10px;">
                                    <input type="text" class="form-control" id="lowBloodPressure" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                        maxlength="2" placeholder="נמוך" ng-model="lowBloodPressure">
                                </div>
                            </td>
                            <td>
                                <label for="highBloodPressure" class="col-sm-15 control-label">/</label>
                            </td>
                            <td>
                                <div class="col-sm-12" style="padding-top: 10px;">
                                    <input type="text" class="form-control" id="highBloodPressure" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                        maxlength="3" placeholder="גבוה" ng-model="highBloodPressure">
                                </div>
                            </td>
                        </tr>
                        <!--דופק-->
                        <tr class="form-group">
                            <td>
                                <label for="heartbeat" class="col-sm-20 control-label">דופק</label>
                            </td>
                            <td colspan="3">
                                <div class="col-sm-12" style="padding-top: 10px;">
                                    <input type="text" class="form-control" id="heartbeat" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="3"
                                        placeholder="דופק" ng-model="heartbeat">
                                </div>
                            </td>
                        </tr>
                        <!--חום-->
                        <tr class="form-group">
                            <td>
                                <label for="temperature" class="col-sm-20 control-label">חום</label>
                            </td>
                            <td colspan="3">
                                <div class="col-sm-12" style="padding-top: 10px;">
                                    <input type="number" class="form-control" id="temperature" step = 0.1
                                            min="36" max="44" placeholder="(C)" ng-model="temperature" required>
                                </div>
                            </td>
                        </tr>
                        <!--סטורציה-->
                        <tr class="form-group">
                            <td>
                                <label dir="center" for="storation" class="col-sm-20 control-label">סטורציה</label>
                            </td>
                            <td colspan="3">
                                <div class="col-sm-12" style="padding-top: 10px;">
                                    <input type="text" class="form-control" id="storation" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="3"
                                        placeholder="(%)" ng-model="storation">
                                </div>
                            </td>
                        </tr>
                    </table>
                    <!--מיקום טיפול
                   onkeypress='return event.charCode >= 128 && event.charCode <= 154' -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">אישור</button>
                <button type="button" ng-click="cancel()" class="btn">ביטול</button>
            </div>
        </div>
    </div>
</div>