main
<!DOCTYPE html>
<html ng-app="medApp">
<head>
    <meta charset="UTF-8">
    <title>רפואה שלמה</title>
    <script src="angular.js" type="text/javascript"></script>
    <script src="app.js" type="text/javascript"></script>
    <!--<script src="..\javascripts\d3\d3.js" type="text/javascript"></script>
    <script src="..\javascripts\nvd3\build\nv.d3.js" type="text/javascript"></script>
    <script src="..\javascripts\angular-nvd3\src\angular-nvd3.js" type="text/javascript"></script>
    <link rel="stylesheet" href="..\javascripts\nvd3\build\nv.d3.css">-->
</head>

<body ng-controller="musicController">
    
</body>
</html>