<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>רפואה שלמה</title>
        
        <script src="/components/angular/angular.min.js"></script>
        <script src="/components/angular/angular-route.min.js"></script>
        <script src="/components/angular/angular-animate.js"></script>      
        <script src="/components/angular/angular-aria.min.js" ></script>
        <script src="/components/angular/angular-messages.min.js" ></script>
        <script src="/components/angular/angular-cookies.min.js" ></script>

        <script src="/components/angular-material/angular-material/angular-material.js" type="text/javascript"></script>    
        <link rel="stylesheet" href="/components/angular-material/angular-material/angular-material.css">
        
        <script src="/infrastructure/javascripts/md-infra.js" type="text/javascript"></script>        
        <script src="/infrastructure/javascripts/loginCardService.js" type="text/javascript"></script>
        <script src="/infrastructure/javascripts/currentUser.js" type="text/javascript"></script>

        <script src="/common/javascripts/mainCommon.js"></script>
    </head>

    <body ng-app ="mainCommon">
        <div ng-controller = "mainController"> 
<!--            
           <md-content class = "md-padding" layout = "row">
               <div flex-gt-xs = "100" layout="row" layout-align = "center stretch">


                   <md-card flex>
                       <img src = "\common\img\agam.JPG">
                       <md-card-title>
                           <md-card-title-text>
                               <span class = "md-headline">AGAM</span>
                               <md-card-content>
                                   
                               </md-card-content>
                               <md-card-actions layout = "row" layout-align = "end center">
                                   <md-button href = "/med">Jump TO</md-button>
                               </md-card-actions>
                           </md-card-title-text>
                       </md-card-title>
                   </md-card>

                   <md-card flex ng-hide = "isMed">
                       <img src = "\common\img\med.JPG">
                       <md-card-title>
                           <md-card-title-text>
                               <span class = "md-headline">Med</span>
                               <md-card-content>
                                   
                               </md-card-content>
                               <md-card-actions layout = "row" layout-align = "end center">
                                   <md-button href = "/agam">Jump TO</md-button>
                               </md-card-actions>
                           </md-card-title-text>
                       </md-card-title>
                   </md-card>


               </div>
           </md-content>-->

            <a href = "/med">
                Med
            </a>
            <br/>
            <a href = "/agam" ng-hide = "isMed">
                AGAM
            </a>

            <button ng-click = "logout()">LOGOUT</button>
        </div>
    </body>
</html>