<!DOCTYPE html>
<html ng-app="medApp">
    <head>
        <meta charset="UTF-8">
        <title>רפואה שלמה</title>
        <script src="/components/angular/angular.min.js" ></script>
        
        <script src="/Components/angular/angular-animate.js" type="text/javascript"></script>
        <script src="/Components/angular/angular-aria.js" type="text/javascript"></script>
        <script src="/Components/angular/angular-messages.js" type="text/javascript"></script>

        <script src="/Components/angular-material/angular-material/angular-material.js" type="text/javascript"></script>    
        <link rel="stylesheet" href="/Components/angular-material/angular-material/angular-material.css">

        <script src="/Common/javascripts/main.js" type="text/javascript"></script>
        <script src="/Common/javascripts/LoginCardService.js" type="text/javascript"></script>
        
        <script src="/common/javascripts/mainCommon.js"></script>
    </head>

    <body ng-controller="medController">
        main:
        {{ data }}

    </body>
</html>