<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>my music app</title>
    <script src="angular.js" type="text/javascript"></script>
    <script src="app.js" type="text/javascript"></script>
    <script src="..\javascripts\d3\d3.js" type="text/javascript"></script>
    <script src="..\javascripts\nvd3\build\nv.d3.js" type="text/javascript"></script>
    <script src="..\javascripts\angular-nvd3\src\angular-nvd3.js" type="text/javascript"></script>
    <link rel="stylesheet" href="..\javascripts\nvd3\build\nv.d3.css">

<body ng-controller="musicController">
  <h1>רשימת השירים שלי</h1>
   <ul>
       <li ng-repeat="song in songs">
          <song-dir> 
                         
       </li>
   </ul> 
   <nvd3 options='options' data='data'></nvd3>
</body>

</html>