<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8">
    <title>שו"ב אג"מ</title>
    <script src="\components\jQuery\jquery-3.1.1.min.js"></script>    
            <script src="/components/bootstrap/js/bootstrap.min.js">
        </script>    
    <script src="\components\angular\angular.min.js" type="text/javascript"></script>
    <script src="\components\angular\angular-route.min.js" type="text/javascript"></script>
    <script src="/components/angular/angular-animate.js"></script>
    <script src="/components/angular/angular-aria.min.js"></script>
    <script src="/components/angular/angular-messages.min.js"></script>
    <script src="/components/angular/angular-cookies.min.js"></script>
    <script src="/components/angular-material/angular-material/angular-material.js" type="text/javascript"></script>
    <script src="\infrastructure\javascripts\md-infra.js" type="text/javascript"></script>
    <script src="\infrastructure\javascripts\loginCardService.js" type="text/javascript"></script>
    <script src="\infrastructure\javascripts\currentUser.js" type="text/javascript"></script>
    <script src="\components\ng-table\bundles\ng-table.js" type="text/javascript"></script>
    <script src="\agam\javascripts\app.js" type="text/javascript"></script>
    <script src="\agam\javascripts\route.js" type="text/javascript"></script>
    <script src="\agam\javascripts\unitService.js" type="text/javascript"></script>
    <script src="\agam\javascripts\typeOfInjuryCtrl.js" type="text/javascript"></script>
    <script src="\agam\javascripts\useOfDrugsCtrl.js" type="text/javascript"></script>
    <script src="\agam\javascripts\injuryPerHour.js" type="text/javascript"></script>
    <script src="\agam\javascripts\occupationCtrl.js" type="text/javascript"></script> 
    <script src="\agam\javascripts\unitsTreeCtrl.js" type="text/javascript"></script>
    <script src="\agam\javascripts\numOfTreatsCtrl.js" type="text/javascript"></script>
    <script src="\agam\javascripts\mapControl.js" type="text/javascript"></script>
    <script src="\agam\javascripts\hamalControl.js" type="text/javascript"></script>
    
    <script src="\components\d3\d3.js" type="text/javascript"></script>
    <script src="\components\nvd3\build\nv.d3.js" type="text/javascript"></script>
    <script src="\components\angular-nvd3\src\angular-nvd3.js" type="text/javascript"></script>    
    <script src="\components\leaflet\dist\leaflet.js" type="text/javascript"></script>
    <script src="\components\leaflet\dist\angular-leaflet-directive.js" type="text/javascript"></script>
    <script src="\components\angular-tree-control\angular-tree-control.js" type="text/javascript"></script>
    <script src="\components\angular\angular-modal-service.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="\components\ng-table\bundles\ng-table.css">
    <link rel="stylesheet" href="\components\nvd3\build\nv.d3.css">
    <link rel="stylesheet" href="\components\bootstrap\css\bootstrap.css">
    <link rel="stylesheet" href="\components\leaflet\dist\leaflet.css">
    <link rel="stylesheet" href="\agam\stylesheets\agam.css">
    <link rel="stylesheet" href="\components\angular-tree-control\css\tree-control.css">
    <link rel="stylesheet" href="\components\angular-tree-control\css\tree-control-attribute.css">
</head>
<body ng-app="myApp"  style="overflow-x : hidden">
    <div class="mainBaner row" style="text-align:left">
        <div class="col-md-2 col-md-offset-3 mainBannerText"> רפואה שלמה
        </div>    
        <div ng-controller="modalController" >
            <button id="hamal" type="button" class="btn hamalBtn" ng-click="showComplex()">
                <span class="glyphicon glyphicon-list-alt"></span>
                תצוגת חמ"ל
            </button>
        </div>
    </div>    
    <div class="row" width="100%">
        <div class="col-md-4" ng-controller="mapControl">
            <leaflet markers="markers" width="104%" height="877"></leaflet>
        </div>
        <span  ng-controller="unitsTreeController">
        <div class="{{sizestatic}}">
            <div class="row" style="background: rgb(218, 221, 241);">
                <span class="col-md-4">  
            <button type="button" style="font-size: 13px;" class="btn hamalBtn">
                <a href="/med"> צפה בפרטים </a>
                <span class="glyphicon glyphicon-eye-open"></span>
                </button>
              </span>
                <span class="col-md-4 text-center" style="color:black; font-size: 17px">{{patientsNum.total}}   :סה"כ פצועים</span>
                <span class="col-md-4 text-right" style="color:black:; font-size: 17px" ng-model="currUnitName"> {{currUnitName}} </span>
                <div class="progress">
              
                </div>
            </div>
            <div class="row" style="background: #B3E5FC;height: 20px;">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{(patientsNum.notEmergencyInjured/patientsNum.total)*100}}%">
                        {{patientsNum.notEmergencyInjured}}
                    </div>
                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width:{{(patientsNum.emergencyInjured/patientsNum.total)*100}}%">
                        {{patientsNum.emergencyInjured}}
                    </div>
                    <div class="progress-bar progress-bar-danger" role="progressbar" style="width:{{(patientsNum.deads/patientsNum.total)*100}}%">
                        {{patientsNum.deads}}
                    </div>
                    <div class="progress-bar progress-bar-default" role="progressbar" style="width:{{(patientsNum.unknownInjured/patientsNum.total)*100}}%">
                        {{patientsNum.unknownInjured}}
                    </div>
                </div>
            </div>
            <div class="row">
                <nav class="navbar navbar-inverse" style="background-color: #daddf1;border-color: #daddf1;">
                    <div class="navbar-right" style="margin-right:0px">
                    <ul class="nav navbar-nav" >
                        <li><a href="#typeOfInjury">גרף סוגי פגיעה</a></li>
                        <li><a href="#useOfDrugs">גרף שימוש תרופות </a></li>
                        <li><a href="#numOfTreats">גרף מספר טיפולים </a></li>
                        <li><a href="#Occupation">גרף תפוסה</a></li>
                        <li><a href="#injuryPerHour">גרף פגיעות לשעה</a></li>
                    </ul>
                    </div>
                </nav>
                <div ng-view></div>
            </div>
        </div> 
        <div>
      <div ng-show="showTree" <treecontrol class="tree-light belkinClass" tree-model="dataForTheTree" options="treeOptions" on-selection="showSelected(node)" selected-node="selected">
                {{node.name}}
        </treecontrol>
        <div treecontrol class="tree-light " tree-model="dataForTheTree" options="treeOptions" on-selection="showSelected(node) ;loadPatients(node)" selected-node="selected">
            {{node.name}}
        </div>
      </div>       
         <img ng-src="..\..\common\img\openIcon.png" ng-click="openTree()" style="position: fixed; top: 50%; right: 0%"></img>
        </div>
        </span>

      
</body>                                                                                                                                               