<div>
    <table id = 'treatsDonutsTable' align="center">
        <tr class = 'treatsTitleRow'>
            <th>
             Vygon
            </th>
            <th>
            C.A.T
            </th>
        </tr>
        <tr>
            <td>
                <nvd3 options='options' data='dataVygon'></nvd3>
            </td>
            <td>
                <nvd3 options='options' data='dataCAT'></nvd3>
            </td>
        </tr>
        <tr>
            <th>
            נקז חזה
            </th>
            <th>
            תחבושת אישית
            </th>
        </tr>
        <tr>
            <td> 
                <nvd3 options='options' data='dataNekezHaze'></nvd3>
            </td>
            <td>
                <nvd3 options='options' data='dataCombatGauze'></nvd3>
            </td>
        </tr>
        
    </table>
    </br> 
    <table  align="center">
        <tr>
            <th>
                שימוש בטיפולים לפי שעה
            </th>
        </tr>
        <tr>
            <td>
                <nvd3 options='lineChartOptions' data='treatsStockTimeData'></nvd3>
            </td>
        </tr>
    </table>
</div>