<div>
    <table id = 'mtreatsDonutsTable'>
        <tr class = 'treatsTitleRow'>
            <th>
             Vygon
            </th>
            <th>
            חוסם עורקים
            </th>
            <th>
            נקז חזה
            </th>
        </tr>
        <tr>
            <td>
            <div>
                <nvd3 options='options' data='dataVygon'></nvd3>
            </div>
            </td>
            <td>
            <div>
                <nvd3 options='options' data='dataHosemOrakim'></nvd3>
            </div>
            </td>
            <td>
            <div>
                <nvd3 options='options' data='dataNekezHaze'></nvd3>
            </div>
            </td>
        </tr>
    </table>
</div>