<div controller="occupationController">
    <table align="center">
        <tr>
            <td>
                <nvd3 id="graphOne" options='options' data='dataOne' />
            </td>
            <td>
                <nvd3 id="graphTwo" options='options' data='dataTwo' /> 
            </td>
        </tr>
    </table> 
    <br>
    <br>
    <center>    
    <ul>
        <li ng-repeat="prediction in predictionValue">בתחנה {{prediction.unitName}} {{prediction.prediction}}</li>
    </ul>
    <center>
       
</div>    