<table ng-controller="statisticController" align="center">
    <thead>
        <tr align="center">
            <td><h3>מנגנון פגיעה</h3></td>
            <td><h3>מיקום פגיעה</h3></td>
         </tr>
    </thead>
    <tr>
        <td> <nvd3 options='pieChartOptions' data='injuryMechanismData'></nvd3></td>
        <td> <nvd3 options='pieChartOptions' data='injuryLocationData'></nvd3></td>
    </tr>
</table>
<table align="center">
    <tr>
        <th>
            יום
        </th>
        <th>
          שבוע
        </th>
         <th>
            יום
        </th>
        <th>
          שבוע
        </th>
    </tr>
   <tr>
        <td> <nvd3 options='timePieChartOptions' data='injuryMechanismDayData'> </td>
        <td> <nvd3 options='timePieChartOptions' data='injuryMechanismWeekData'> </td>
        <td> <nvd3 options='timePieChartOptions' data='injuryLocationDayData'> </td>
        <td> <nvd3 options='timePieChartOptions' data='injuryLocationWeekData'> </td>
    </tr>
</table>