<div>
    <table id = 'medicationsDonutsTable'>
        <tr class = 'medicationsTitleRow'>
            <th>
             דורמיקום
            </th>
            <th>
            הקסאקפרון
            </th>
            <th>
            אקמול
            </th>
        </tr>
        <tr>
            <td>
            <div>
                <nvd3 options='options' data='dataDormikom'></nvd3>
            </div>
            </td>
            <td>
            <div>
                <nvd3 options='options' data='dataAksakafron'></nvd3>
            </div>
            </td>
            <td>
            <div>
                <nvd3 options='options' data='dataAcamol'></nvd3>
            </div>
            </td>
        </tr>
        <tr class = 'medicationsTitleRow'>
            <th>
                קטמין
            </th>
            <th>
                פנטניל
            </th>
            <th>
            מורפיום
            </th>
        </tr>
        <tr>
            <td>
            <div>
                <nvd3 options='options' data='dataKatmin'></nvd3>
            </div>
        </td>
            <td>
            <div>
                <nvd3 options='options' data='dataFantil'></nvd3>
            </div>
        </td>
            <td>
            <div>
                <nvd3 options='options' data='dataMorphium'></nvd3>
            </div>
            </td>
        </tr>
    </table>
</div>