<div>
    <table id = 'medicationsDonutsTable' align="center">
        <tr class = 'medicationsTitleRow'>
            <th>
             Dormikom
            </th>
            <th>
            Hexakapron
            </th>
            <th>
            Akamol
            </th>
        </tr>
        <tr>
            <td>
                <nvd3 options='options' data='dataDormikom'></nvd3>
            </td>
            <td>
                <nvd3 options='options' data='dataHexakapron'></nvd3>
            </td>
            <td>
                <nvd3 options='options' data='dataAkamol'></nvd3>
            </td>
        </tr>
        <tr class = 'medicationsTitleRow'>
            <th>
                Ketamine
            </th>
            <th>
                Pantenyl
            </th>
            <th>
            Morphium
            </th>
        </tr>
        <tr>
            <td>
                <nvd3 options='options' data='dataKetamine'></nvd3>
            </td>
            <td>
                <nvd3 options='options' data='dataPantenyl'></nvd3>
        </td>
            <td>
                <nvd3 options='options' data='dataMorphium'></nvd3>
            </td>
        </tr>
    </table>
    </br>
    <table  align="center">
        <tr>
            <th>
                שימוש בתרופות לפי שעה
            </th>
        </tr>
        <tr>
            <td>
                <nvd3 options='lineChartOptions' data=' drugsStockTimeData'></nvd3>
            </td>
        </tr>
    </table>
</div>