th
{
    text-align: center !important;
}

.nv-group
{
    width: 60;  
}

@font-face {
    font-family: alef;
    src: url(Alef-Regular.ttf);
}

body
{
    font-family: "alef";
}

.mainBaner
{
    height: 40px;
    background: linear-gradient(rgb(137, 145, 210), rgb(219, 222, 241));
    font-size: 20px;
}

.mainBannerText
{
    font-size: 20px;
    width: 140px;
    float: right;  
    margin-top: 5px;
    font-weight: bold;
}

.hamalBtn
{
    background-color:rgba(242, 249, 255, 0.75);
    border-color: rgba(22, 62, 97, 0.75);
    cursor: pointer;
    margin-left: 20px;
    margin-top: 3px;
}

.belkinClass{
    padding: 0 30px 0 0;
    direction: rtl;
}

.table
{
    direction: rtl;
}

ul
{
    direction: rtl;
    list-style-type: none;
    font-size: 15px;  
}  

li a {
    color:black !important;
}