
body {
    direction: rtl;
}

td {
     text-align: right!important;
}

th {
     text-align: right!important;
}

.redColor
{
    color:red
}

.button2
{
    border-radius: 5px;
    background-color: #008CBA;
    border: none;
    color:white;
    padding:4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.firstSection
{
 border-radius: 5px;
 text-align: center;
 background: beige;
 border-spacing: 5px 10px;
}
.detailsBorder
{
 border-radius: 5px;
 text-align: center;
 font-size: 20px;
 padding:7px;
 background:#e8e8dc;
}

.title
{
    border: #d0d0c4 solid 2px;
    background: #e8e8dc;
    font-weight: bold;
}

.medTble
{  
    height:175px;
    overflow-y: auto;
    border-radius: 7px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.medBackground
{
  background-color:rgba(158, 158, 158, 0.57);
}

.tableDesignA
{  
    height:200px;
    overflow-y: auto;
    border-radius: 7px;
    margin-bottom: 12px;
  
}
.aBackground
{
  background-color: rgba(187, 222, 251,  0.57);
  
}

.tableDesignB
{  
    height: 200px;
    overflow-y: auto;
    border-radius: 7px;
    margin-bottom: 12px;
}
.bBackground
{
  background-color: rgba(105, 240, 174,  0.57);
}

.tableDesignC
{  
    height: 200px;
    overflow-y: auto;
    border-radius: 7px;
    margin-bottom: 12px;
}
.cBackground
{
  background-color: rgba(255, 245, 157,  0.57);
}

.tableDesignD
{  
    height: 200px;
    overflow-y: auto;
    border-radius: 7px;
    margin-bottom: 12px; 
}

.dBackground
{
  background-color: rgba(255, 138, 128,  0.57);
}

.treatLetter
{
 font-size:45px;
 text-align: center;
 
}

.MarginTB
{   
    margin-top: 15px;
    margin-bottom: 20px;
}