.mainBaner
{
    height: 40px;
    background: linear-gradient(rgb(137, 145, 210), rgb(219, 222, 241));
    font-size: 20px;
}

.mainBannerText
{
        font-weight: bold;
    margin-top:3px;
}

.btnDesignTitle
{
    background: rgba(231, 231, 236, 0.66);
    height: 21px;
    margin-top: 9px;
    cursor: pointer;
}

.imgCss
{
    height: 14px;
    margin-top: 13px;
    width: 47px;
}

.btnInBanner
{
    background-color:rgba(242, 249, 255, 0.75);
    font-size: 13px;
    border-color: rgba(22, 62, 97, 0.75)
}

.blackColor
{
    color:black;
}

.bannerColor
{
    background:rgb(241,241,241); height:40px;
}

.commandNameDesign
{
    border: none;
}

.commandNameDesignChosen
{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background: rgba(201, 210, 208, 0.52);
}

.breadcrumb>li+li:before
{
    color: #4e4646;
    font-weight: bold;
}



    